<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>15963802604-s08j7qh1fdroga4uphf2m4rqr3hsasft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15963802604-s08j7qh1fdroga4uphf2m4rqr3hsasft</string>
	<key>API_KEY</key>
	<string>AIzaSyCiiY3gR__2EsPUD4opyT1rMOFeogVXdUc</string>
	<key>GCM_SENDER_ID</key>
	<string>15963802604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fran.bustamante.org</string>
	<key>PROJECT_ID</key>
	<string>navegador-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>navegador-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15963802604:ios:12f9a8e9a9a1c7b7</string>
	<key>DATABASE_URL</key>
	<string>https://navegador-ios.firebaseio.com</string>
</dict>
</plist>